*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
img{ vertical-align: bottom;}
label{ display: block;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
ul{ list-style: none; padding: 0;}

@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-bold.woff2);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-regular.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNovaThin-webfont.woff2);
    font-weight: 100;
    font-display: swap;
}

html{ font-size: 15px; --red: #ca3c3c; --ff: proxima, sans-serif; scroll-behavior: smooth; scroll-padding-top: 80px; overflow-x: hidden; }
body{
    font-size: 16px;
    font-family:var(--ff);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col-"]{ flex: 1 0 auto; padding:0 1rem;}
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between;}
.align-center{ align-items: center;}

/* layout */
header{ background: #000; color: #fff; position: sticky; top: 0; z-index: 1;}
header a{ color: inherit; line-height: 80px; display: inline-block;}
header h1{ font-size: 30px; }
header nav{ margin-left: -20px;}
header nav li{ margin: 0 5px;}
header nav li a{ padding: 0 15px; }
.btn{ width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; font: 16px var(--ff);}
.mob{ display: none; width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; font: 16px var(--ff); float: right; margin-top: 20px; padding: 5px 10px; }
.mob span{ display: block; height: 2px; background: var(--red); margin: 4px 0; transition: .3s; transform-origin: right center; } 
/* header input[type="checkbox"]:checked + .collapse{ display: block; } */
.mob.active span:nth-child(1){ transform: rotate(-10deg); }
.mob.active span:nth-child(2){ opacity: 0; }
.mob.active span:nth-child(3){ transform: rotate(10deg);  }


.banner{ background: #666; color: #fff; padding: 200px 0;}
.banner button{ font-size: 150px; background: none; border: none; color: inherit; margin-right: 40px;}
.banner p{ font: 100 60px var(--ff);}
.banner a{ color: var(--red);}


.wrap-3{ background: var(--red); color: #fff; padding: 50px 0;}
h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid;}
.circle{ width: 100px; aspect-ratio: 1/1; border: 2px solid; border-radius: 50%; flex-shrink: 0; display: grid; place-items: center; font-size: 36px; margin-right: 2rem;}
.feature h3{ font-size: 16px; margin-bottom: 10px; }
.feature p{ font-size: 14px; font-weight: 100; line-height: 22px; }
.gy-60{ gap: 60px 0;}


.wrap-4{ background: #fff; color: var(--red); line-height: 150px; text-align: center; font-size: 36px;}


.wrap-5{ padding: 100px 0; background: #ebebeb; color: #363636; }
.wrap-5 .btn{ margin: 30px 10px 60px 0;}
.wrap-5 .btn.active{ background: var(--red); color: #fff; border-color: var(--red); }
.work{ position: relative; text-align: center; margin-bottom: 2rem; overflow: hidden;}
.work figcaption{ position: absolute; background: #fff; bottom: -100px; left: 0; right: 0; padding: 20px 0;  transition: 400ms; opacity: 0; }
.work h3{ color: var(--red); font-size: 18px; line-height: 40px; }
.work p{ color: #898989; font-size: 14px; font-weight: 100; line-height: 20px; }
.img-resp{ max-width: 100%; height: auto;}
.work:hover figcaption{ opacity: 1; bottom: 0;}
.seemore{ font-size: 36px; color: var(--red); border: none; background: none;}
.all:nth-child(7),.all:nth-child(8),.all:nth-child(9){ display: none;}



.wrap-6{ background: #666; color: #fff; padding: 4rem 0 2rem; text-align: center;}
.wrap-6 p{ font-size: 36px; line-height: 41px; font-weight: 100;}
.wrap-6 img{ margin: 10px 0;}
.wrap-6 figcaption{ font-weight: bold;}
.pager{ display: flex; justify-content: center; margin-top: 25px;}
.pager li{ margin: 0 5px;}
.pager li a{ display: block; width: 10px; height: 10px; border: 2px solid; color: #fff; border-radius: 50%; }
.pager li a.active{ background: #fff;}
.wrap-6 .bx-wrapper{ background: none; border: none; box-shadow: 0 0;}
.wrap-6 .bx-wrapper img{ margin: auto;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a{ border: 2px solid #fff;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:hover,.wrap-6  .bx-wrapper .bx-pager.bx-default-pager a.active,.wrap-6  .bx-wrapper .bx-pager.bx-default-pager a:focus{ background: #fff}



.wrap-7{ padding: 100px 0; background: #fff; color: #363636; }
.team{ position: relative; margin-top: 80px;}
.social{ position: absolute; right: 60px; top: 60px; }
.social li{ margin-left: 10px; }
.social a{ display: block; background: var(--red); color: #fff; font-size: 24px; width: 50px; line-height: 50px; text-align: center; border-radius: 50%; }
.gap{ margin: 50px 0 0 100px;}
.gap h3{ color: var(--red); font-size: 18px; margin-bottom: 10px; }
.gap small{ font-size: 14px; color: #898989; font-weight: 100;}
.gap p{ margin-top: 25px; font-size: 14px; line-height: 22px; color: #363636; font-weight: 100;}


.wrap-8{ background: #666; color: #fff; padding: 90px 0 30px; text-align: center;}
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{ font-size: 72px; font-weight: 100;}
.wrap-8 b{ font-size: 18px; margin-bottom: 50px; display: inline-block;}


.wrap-9{ padding: 100px 0; background: #fff; color: #363636;}
canvas{ margin: 80px 0 0 0; }
.accordion{ margin-top: 80px; color: #898989; }
.accordion p{ display: none; font-size: 14px; color: #363636; line-height: 22px;  padding: 20px;}
.accordion li:first-child p{ display: block;}
.accordion li{ margin-bottom: 10px;}
.accordion a{ display: block; border: 1px solid #ebebeb; color: inherit; padding: 19px; border-radius: 10px;}
.accordion a span.fa{ margin-right: 17px;}
.accordion a.active{ color: var(--red);}
.accordion a::after{ content: '+'; float: right;}
.accordion a.active::after{ content: '-'; }

.wrap-10{ background: var(--red); padding: 23px 0 22px;}
.wrap-10 input{ width: 370px; height: 35px; background: none; border: none; color: #fff; font:100 36px var(--ff)}
.wrap-10 input::placeholder{ color: #fff;}
.wrap-10 button{ background: #fff;}


.wrap-11{ background: #7f7f7f; color:#fff; padding: 28px 0 0 0;}
.box{ background: #a6a6a6; line-height: 95px; text-align: center; font-size: 20px; margin-bottom: 27px; }

.wrap-12{ padding: 100px 0; background: #ebebeb; color: #363636; } 
.wrap-12 address{ color: #898989; font: normal 400 16px/30px var(--ff); margin: 40px 0; }
.soc2 a{ color: var(--red); }
.wrap-12 label{ border: 2px solid; padding: 17px; margin: 1rem 0;}
.wrap-12 :is(input,textarea){ border: none; background: none; resize: none; vertical-align: top;}
.wrap-12 button{ width: 100%; height:  87px; margin: 1rem 0; border: none; background: #fff; color: var(--red); font: 16px var(--ff); border-radius: 10px;}
.wrap-12 button span{ font-size: 36px; vertical-align: middle;}

.wrap-13{ background: #252525; color: #fff; padding: 20px 0; text-align: center;}



@media screen and (max-width:1220px){
    html{ font-size: 14px;}
    h2{ font-size: 62px; margin-bottom: 30px;}
    .social{ right: 0;}
}

@media screen and (max-width:980px){
    .col-t-1{ flex-basis: 8.33%; max-width: 8.33%;}
    .col-t-2{ flex-basis: 16.66%; max-width: 16.66%;}
    .col-t-3{ flex-basis: 25%; max-width: 25%;}
    .col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-5{ flex-basis: 41.66%; max-width: 41.66%;}
    .col-t-6{ flex-basis: 50%; max-width: 50%;}
    .col-t-7{ flex-basis: 58.33%; max-width: 58.33%;}
    .col-t-8{ flex-basis: 66.66%; max-width: 66.66%;}
    .col-t-9{ flex-basis: 75%; max-width: 75%;}
    .col-t-10{ flex-basis: 83.33%; max-width: 83.33%;}
    .col-t-11{ flex-basis: 91.66%; max-width: 91.66%;}
    .col-t-12{ flex-basis: 100%; max-width: 100%;}
    .col-t-hide{ display: none;}
    .col-t-auto{ flex:1 0 20%; max-width: 20%;}
    .banner p{ font-size: 35px;}
    .gap{ margin-left: 50px;}
    .social{ top: 0;}
    .social ul{ flex-flow: column wrap;}
    .social ul li{ margin-bottom: 10px;}
    .wrap-8 p{ font-size: 60px;}
}

@media screen and (max-width:767px){
    html{ font-size: 12px;}
    .collapse{ display: none;}
    .wrap-5 .btn{ margin-right: 6px;}
    .col-m-6{ flex-basis: 50%; max-width: 50%;}
    .col-m-12{ flex-basis: 100%; max-width: 100%;}
    .box{ font-size: 16px;}
    .mob{ display: block;}
    .collapse{ position: absolute; left: 0; right: 0; top: 80px; background: #000;}
    .collapse ul, .collapse .flex{ flex-flow: column wrap;} 
    nav{ width: 100%; text-align: right;}
    .collapse a{ line-height: 40px;}
}

@media screen and (max-width:460px){
    .col-p-1{ flex-basis: 8.33%; max-width: 8.33%;}
    .col-p-2{ flex-basis: 16.66%; max-width: 16.66%;}
    .col-p-3{ flex-basis: 25%; max-width: 25%;}
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-5{ flex-basis: 41.66%; max-width: 41.66%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%;}
    .col-p-7{ flex-basis: 58.33%; max-width: 58.33%;}
    .col-p-8{ flex-basis: 66.66%; max-width: 66.66%;}
    .col-p-9{ flex-basis: 75%; max-width: 75%;}
    .col-p-10{ flex-basis: 83.33%; max-width: 83.33%;}
    .col-p-11{ flex-basis: 91.66%; max-width: 91.66%;}
    .col-p-12{ flex-basis: 100%; max-width: 100%;}
    .banner .flex{ flex-flow: column wrap;}
    .work img{ width: 100%; height: 100%; object-fit: cover;}
    .wrap-10 input{ width: 240px; font-size: 24px;}
    .col-t-auto{ flex:1 0 50%; max-width: 100%;}
}

@media screen and (max-width:359px) {
    h2{ font-size: 52px;}
    .wrap-8 p{ font-size: 50px;}
}